/* ROOT */
:root {
  --primery-text-color: rgba(117, 117, 117, 1);
  --bgc-hero-footer: rgba(47, 48, 58, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --hero-color: rgba(255, 255, 255, 1);
  --batton-portfolio: rgba(245, 244, 250, 1);
  --page-color: #ffffff;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* НОРМАЛИЗАЦИЯ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
}
/* Наследование от body */
body {
  height: 100%;
  width: 100%;
  background-color: var(--page-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

/* Контейнер для контента */
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

/* Header */
.header_conteiner {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
}
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo_header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__text {
  color: var(--title-text-color);
}
/* Header-Site nav  */
.header__nav-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__nav-item {
  display: inline-block;
  margin-right: 50px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-bezier);
}
.header__nav-link:hover,
.header__nav-link:focus {
  color: var(--accent-color);
}
.header__nav-link--active {
  position: relative;
  color: var(--accent-color);
}

.header__nav-link--active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  border-radius: 2px;

  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}
/* Header__contacts */
.header__contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__contacts-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  letter-spacing: 0.02em;
  margin-right: 30px;

  transition: color 250ms var(--cubic-bezier);
}
.header__contacts-item:last-child {
  margin-right: 0;
}
.header__contact-link {
  display: flex;
  align-items: center;
}
.header__contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header__contacts-item:hover,
.header__contacts-item:focus {
  color: var(--accent-color);
}
/* Main */
/* Section Hero  */
.hero {
  padding: 200px 0;
  background-color: var(--bgc-hero-footer);
}
.hero__overlay {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/baground/baground-hiro.jpg);
  background-color: gray;
}
.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: block;
  text-align: center;
  min-width: 200px;
  padding: 10px 16px;
  margin: 0 auto;
  color: var(--hero-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}
.hero__backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  display: block;
  min-width: 528px;
  min-height: 531px;
  border-radius: 4px;
  background-color: #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms var(--cubic-bezier);
}
.modal__title {
  padding-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal__form {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
}
.modal__form-field {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}
.modal__form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__box-input {
  display: block;
  position: relative;
}
.modal__form-input {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  padding-left: 42px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--cubic-bezier);
}
.modal__form-input:focus,
.modal__form-comments:focus {
  border-color: var(--accent-color);
}
.modal__form-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 13px;
  color: #212121;
  transform: translateY(-50%);
  transition: color 250ms var(--cubic-bezier);
}
.modal__form-field:focus-within .modal__form-icon {
  color: var(--accent-color);
}
.modal__form-comments {
  display: flex;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  resize: none;
  color: rgba(33, 33, 33, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-bezier);
}
.modal__form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal__checkbox-conteiner {
  display: block;
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}
.modal__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal__checkbox-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  color: currentColor;
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}
.modal__checkbox-unchecked {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border-color 250ms var(--cubic-bezier);
}
.modal__checkbox:checked:focus .modal__checkbox-unchecked {
  opacity: 0;
}

.modal__accept-link {
  display: inline-block;
  text-decoration: underline;
  color: var(--accent-color);
}
.modal__button {
  margin-bottom: 40px;
}

.modal__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.modal__icon-close {
  fill: currentColor;
}
.modal__button-close:focus,
.modal__button-close:hover .modal__icon-close {
  fill: var(--accent-color);
}
/* Преимущества  */
.visibility-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  padding-top: 94px;
}

.features__list {
  display: flex;
}
.features__list-item {
  width: 270px;
  margin-right: 30px;
}
.features__list-item:last-child {
  margin-right: 0;
}
.features__icon-box {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

/* Чем мы занимаемся  */
.work {
  padding-bottom: 94px;
  padding-top: 94px;
}
.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  color: var(--title-text-color);
}
.work__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work__item {
  position: relative;
  margin-right: 30px;
}
.work__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;

  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
  color: var(--hero-color);

  background-color: rgba(47, 48, 58, 0.8);
}
.work__item:last-child {
  margin-right: 0;
}
/* <!-- Наша команда --> */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
}
.team__list {
  display: flex;
  justify-content: flex-start;
}
.team__item {
  background-color: #fff;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__text-card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-weight: 500;
}
.team__name,
.team__position {
  font-size: 16px;
  line-height: 1.19;
}
.team__position {
  margin-bottom: 16px;
}

.social__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: rgba(175, 177, 184, 1);

  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}
.social__icon-item:last-child {
  margin-right: 0;
}
.social__icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: inherit;
}
.social__icon {
  fill: currentColor;
}
.social__icon-item:hover,
.social__icon-item:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*  Постоянные клиенты  */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  margin-right: 30px;
  background-color: #fff;
  color: rgba(175, 177, 184, 1);

  transition: color 250ms var(--cubic-bezier), border-color 250ms var(--cubic-bezier);
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__icon {
  fill: currentColor;
}
.clients__item:hover,
.clients__item:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/* <!-- Footer  --> */
.footer {
  background: var(--bgc-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__conteiner {
  display: flex;
}
.footer__logo-text {
  color: var(--hero-color);
}
.logo__footer {
  margin-bottom: 20px;
}
.footer__adress-wrapper {
  min-width: 231px;
  margin-right: 70px;
}
.footer__address {
  color: var(--hero-color);
}
.footer__contacts {
  color: var(--footer-contact-color);
  font-weight: 400;
}
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}
.footer__join {
  color: var(--page-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__social-icon--color {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  transition: background-color 250ms var(--cubic-bezier);
}
.footer__social {
  margin-right: 93px;
}
.footer__subscription-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__subscription-mail {
  display: block;
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: #fff;
}
.footer__subscription-form {
  display: flex;
}
.footer__subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__subscription-latter {
  margin-left: 10px;
}
